# TODO check this list - it's probably too big
# https://stackoverflow.com/a/29932318/12210524
# * works recursively. Use /* instead
/*

# files
!.editorconfig
!.gitattributes
!.gitignore
!CNAME
!index.html
!LICENSE
!README.md

# folders
!.vscode
!cmd
!docs
!css
!images
!about
!js
