# TODO check this list - it's probably too big
# https://stackoverflow.com/a/29932318/12210524
# * works recursively. Use /* instead
/*

# filetypes
!/*.ini
!/*.lock
!/*.md
!/*.toml
!/*.yml

# files
!.dockerignore
!.editorconfig
!.gitattributes
!.gitignore
!Dockerfile
!Pipfile
!.python-version

# folders
!.vscode
!docs
!scripts
!src
!tests

# __pycache__ generated on its own after running
# you COULD control it with PYTHONPYCACHEPREFIX
# https://docs.python.org/3/using/cmdline.html#envvar-PYTHONPYCACHEPREFIX
# but I can't be arsed.
__pycache__
